body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root {
  --background: white;
  --text-color: #000;
  --border-color: #ddd;
  --green: #27f00c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --text-color: #CCC;
    --border-color: #333;
  }
}

@keyframes progress_bar {
  from { width: 100%; }
  to { width: 0%; }
}
